<header class="top-nav-bar">
  <div class="container">
    <div class="top-flex-items">
      <ul class="top-nav">
        <li class="nav-list" *ngFor="let item of nav">
          <a href="#">{{ item.name }}</a>
        </li>
      </ul>
      <div class="cart-content">
        <i class="fa fa-shopping-cart u-padding-right-1 vertical-align-middle"
        ></i>
        <span class="cart-number u-display-inline-block">
          {{ cartNumber }}
        </span>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="search-area">
      <img src="assets/images/logo.png" alt="Logo">
  </div>
  <div class="search-controls-left">
  </div>
</div>
