<body
  class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page"
  data-gr-c-s-loaded="true"
>
  <div id="yith-wcwl-popup-message" style="display: none;">
    <div id="yith-wcwl-message"></div>
  </div>

  <div id="fb-root" class=" fb_reset">
    <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
      <div>
        <iframe
          name="fb_xdm_frame_https"
          frameborder="0"
          allowtransparency="true"
          allowfullscreen="true"
          scrolling="no"
          allow="encrypted-media"
          id="fb_xdm_frame_https"
          aria-hidden="true"
          title="Facebook Cross Domain Communication Frame"
          tabindex="-1"
          src="./assets/d_vbiawPdxB.html"
          style="border: none;"
        ></iframe>
      </div>
      <div></div>
    </div>
  </div>

  <div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner" style="">
      <div class="header-mobile-exclude">
        <nav>
          <div class="o-desk-header">
            <div class="o-desk-header__top">
              <div class="container pie-clearfix">
                <div class="o-desk-header__left">
                  <ul class="main-nav mobile-exclude">
                    <li class="main-nav__item" *ngFor="let item of nav">
                    <a href=" {{ item.link }} ">{{ item.name }}</a>
                  </li>
                  </ul>
                </div>
                <div class="o-desk-header__right">
                  <a
                    href="https://www.onlineskinshop.co.za/cart/"
                    class="cart-link"
                  >
                    <img
                      src="./assets/cart.png"
                      alt="Cart"
                      data-pagespeed-url-hash="1290077061"
                    />
                    <span> 0 </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="o-desk-header__main container clearfix">
              <div class="o-desk-header__left">
                <a class="logo" href="https://www.onlineskinshop.co.za/">
                  <img
                    src="./assets/logo.png"
                    alt="Skin Renewal Online Store"
                    data-pagespeed-url-hash="540374621"
                  />
                </a>
                <div class="c-header-controls">
                  <ul class="c-header-icons">
                    <li>
                      <p href="#" class="c-header-icon c-header-icon--points">
                        Earn loyalty points &amp; redeem discounts
                      </p>
                    </li>
                    <li>
                      <p
                        href="#"
                        class="c-header-icon c-header-icon--transactions"
                      >
                        Secure Transactions
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="o-desk-header__right">
                <a
                  href="https://www.onlineskinshop.co.za/feedback"
                  class="button_enquiry"
                >
                  <img
                    src="./assets/question_icon.png"
                    alt="Question"
                    data-pagespeed-url-hash="2290233426"
                  />
                  <span>Got A Question?</span>
                </a>
                <div class="slide_search">
                  <form
                    action="https://www.onlineskinshop.co.za/"
                    method="get"
                    id="search_form"
                  >
                    <a class="search" href="javascript:void(0);"
                      ><span>Search</span></a
                    >
                    <input
                      type="text"
                      placeholder="What are you looking for?"
                      class="search_input"
                      name="s"
                      value=""
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="site_subheader dropdown header-desktop-exclude mobi-nav">
        <div class="site_subheader__top-bar">
          <div
            class="dropdown-toggle pull-left"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="./assets/mobile-hamburger-green.png"
              alt="Open"
              data-pagespeed-url-hash="3379719626"
            />
            <span>Menu</span>
          </div>
          <div class="back-toggle pull-left" role="button">
            <img
              src="./assets/dropdown-arrow-green-left.png"
              alt="Open"
              data-pagespeed-url-hash="1207205649"
            />
            <span>Back</span>
          </div>
          <a
            href="https://www.onlineskinshop.co.za/cart/"
            class="cart-link pull-right"
            ><img
              src="./assets/cart.png"
              alt="Cart"
              data-pagespeed-url-hash="1290077061"
            /><span>0</span></a
          >
          <div class="clear"></div>
          <ul class="dropdown-menu">
            <li>
              <a href="https://www.onlineskinshop.co.za/">Home</a>
              <div class="clear"></div>
            </li>
            <li>
              <a href="https://www.onlineskinshop.co.za/shop"
                ><span>Shop Brands</span
                ><img src="./assets/mobile-nav-plus.png" alt="Expand"
              /></a>
              <div class="clear"></div>
              <ul class="sub-nav-ul">
                <li class="mobi-nav__sub-item">
                  <a
                    href="https://www.onlineskinshop.co.za/product-brand/health-renewal/"
                    >Skin Renewal</a
                  >
                </li>
                <li class="mobi-nav__sub-item">
                  <a
                    href="https://www.onlineskinshop.co.za/product-brand/heliocare/"
                    >Lamelle</a
                  >
                </li>
                <li class="mobi-nav__sub-item">
                  <a
                    href="https://www.onlineskinshop.co.za/product-brand/iskin/"
                    >Alpha</a
                  >
                </li>
              </ul>
              <div class="clear"></div>
            </li>
            <li>
              <a href="https://www.onlineskinshop.co.za/shop/#" target="_blank"
                ><span>Shop Product Type</span
                ><img src="./assets/mobile-nav-plus.png" alt="Expand"
              /></a>

              <div class="clear"></div>
              <ul class="products_list sub-nav-ul js-sub-nav-2nd">
                <li class="mobi-nav__sub-item">
                  <a
                    href="https://www.onlineskinshop.co.za/product-category/gift-vouchers/"
                    >Gift Vouchers</a
                  >
                </li>
                <li class="mobi-nav__sub-item">
                  <a
                    href="https://www.onlineskinshop.co.za/product-category/hair-care/"
                    >Cream</a
                  >
                </li>
                <li class="mobi-nav__sub-item">
                  <a
                    href="https://www.onlineskinshop.co.za/product-category/mask/"
                    >Oral Supplements</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="site_subheader__logo">
          <a class="logo" href="https://www.onlineskinshop.co.za/">
            <img
              src="./assets/logo.png"
              alt="Skin Renewal Online Store"
              data-pagespeed-url-hash="540374621"
            />
          </a>
        </div>
      </div>
      <div class="site_slider">
        <div class="container">
          <div class="c-header-slider">
            <div class="c-header-slider__desktop">
              <div class="bx-wrapper" style="max-width: 100%;">
                <div
                  class="bx-viewport"
                  style="width: 100%; overflow: hidden; position: relative; height: 120px;"
                >
                  <div class="bx-wrapper" style="max-width: 100%;">
                    <div
                      class="bx-viewport"
                      style="width: 100%; overflow: hidden; position: relative; height: 120px;"
                    >
                      <ul
                        class="c-header-slider__list"
                        style="width: auto; position: relative;"
                      >
                        <li
                          style="float: none; list-style: none; position: absolute; width: 1140px; z-index: 50; display: block;"
                        >
                          <a
                            href="https://www.onlineskinshop.co.za/shop/neostrata-skin-active-intensive-eye-therapy/"
                            target="_blank"
                          >
                            <img
                              alt="Weekly-feature-intensive-eye-690x120"
                              data-src="https://onlineskinshop-f38c.kxcdn.com//content/uploads/2016/09/Weekly-feature-intensive-eye-690x120.jpg"
                              src="./assets/Weekly-feature-intensive-eye-690x120.jpg"
                            />
                          </a>
                        </li>
                        <li
                          style="float: none; list-style: none; position: absolute; width: 1140px; z-index: 0; display: none;"
                        >
                          <a
                            href="https://www.onlineskinshop.co.za/shop/neostrata-skin-active-intensive-eye-therapy/"
                            target="_blank"
                          >
                            <img
                              alt="Weekly-feature-intensive-eye-690x120"
                              data-src="https://onlineskinshop-f38c.kxcdn.com//content/uploads/2016/09/Weekly-features-Skinceuticals-Phloretin-CF-690x120.jpg"
                              src="./assets/Weekly-features-Skinceuticals-Phloretin-CF-690x120.jpg"
                            />
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="bx-controls bx-has-pager">
                      <div class="bx-pager bx-default-pager">
                        <div class="bx-pager-item">
                          <a
                            href=""
                            data-slide-index="0"
                            class="bx-pager-link active"
                            >1</a
                          >
                        </div>
                        <div class="bx-pager-item">
                          <a href="" data-slide-index="1" class="bx-pager-link"
                            >2</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bx-controls bx-has-pager">
                  <div class="bx-pager bx-default-pager">
                    <div class="bx-pager-item">
                      <a
                        href="https://www.onlineskinshop.co.za/shop/"
                        data-slide-index="0"
                        class="bx-pager-link active"
                        >1</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-header-slider__mobi">
              <div class="bx-wrapper" style="max-width: 100%;">
                <div
                  class="bx-viewport"
                  style="width: 100%; overflow: hidden; position: relative;"
                >
                  <div class="bx-loading"></div>
                  <div class="bx-wrapper" style="max-width: 100%;">
                    <div
                      class="bx-viewport"
                      style="width: 100%; overflow: hidden; position: relative;"
                    >
                      <div class="bx-loading"></div>
                      <ul
                        class="c-header-slider__list"
                        style="width: auto; position: relative;"
                      >
                        <li
                          style="float: none; list-style: none; position: absolute; width: 100px; z-index: 50; display: block;"
                        >
                          <a
                            href="https://www.onlineskinshop.co.za/shop/neostrata-skin-active-intensive-eye-therapy/"
                            target="_blank"
                          >
                            <img
                              alt=""
                              data-src="https://onlineskinshop-f38c.kxcdn.com//content/uploads/2016/09/Weekly-feature-intensive-eye-330x150.jpg"
                            />
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="bx-controls bx-has-pager">
                      <div class="bx-pager bx-default-pager">
                        <div class="bx-pager-item">
                          <a href="" data-slide-index="0" class="bx-pager-link"
                            >1</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bx-controls bx-has-pager">
                  <div class="bx-pager bx-default-pager">
                    <div class="bx-pager-item">
                      <a
                        href="https://www.onlineskinshop.co.za/shop/"
                        data-slide-index="0"
                        class="bx-pager-link"
                        >1</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
        <div class="container container--no-small">
          <ul class="product-filters-wrapper ">
            <li id="woof_widget-2" class="widget WOOF_Widget">
              <div class="widget widget-woof">
                <div
                  class="woof woof_sid woof_sid_widget"
                  data-sid="widget"
                  data-shortcode="woof sid=widget start_filtering_btn=0 price_filter=3 redirect ajax_redraw=0 "
                  data-redirect=""
                  data-autosubmit="1"
                  data-ajax-redraw="0"
                >
                  <a
                    href="https://www.onlineskinshop.co.za/shop/#"
                    class="woof_edit_view"
                    data-sid="widget"
                    >show blocks helper</a
                  >
                  <div></div>
                  <div class="woof_redraw_zone" data-woof-ver="1.1.6.1">
                    <div
                      data-css-class="woof_container_product_cat"
                      class="woof_container woof_container_checkbox woof_container_product_cat woof_container_0 woof_container_producttype"
                    >
                      <div class="woof_container_overlay_item"></div>
                      <div
                        class="woof_container_inner woof_container_inner_producttype"
                      >
                        <h4>Product Type</h4>
                        <div
                          class="woof_block_html_items mCustomScrollbar _mCS_1 mCS_no_scrollbar"
                          style=""
                        >
                          <div
                            id="mCSB_1"
                            class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside"
                            style="max-height: 120px;"
                            tabindex="0"
                          >
                            <div
                              id="mCSB_1_container"
                              class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                              style="position:relative; top:0; left:0;"
                              dir="ltr"
                            >
                              <div
                                id="mCSB_1"
                                class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside"
                                style="max-height: 400px;"
                                tabindex="0"
                              >
                                <div
                                  id="mCSB_1_container"
                                  class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                                  style="position:relative; top:0; left:0;"
                                  dir="ltr"
                                >
                                  <ul class="woof_list woof_list_checkbox">
                                    <li class="woof_term_633 ">
                                      <div
                                        class="icheckbox_flat-aero"
                                        style="position: relative;"
                                      >
                                        <input
                                          type="checkbox"
                                          id="woof_633_5cc1431546b3f"
                                          class="woof_checkbox_term woof_checkbox_term_633"
                                          data-tax="product_cat"
                                          name="foundation"
                                          data-term-id="633"
                                          value="633"
                                          style="position: absolute; opacity: 0;"
                                        /><ins
                                          class="iCheck-helper"
                                          style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"
                                        ></ins>
                                      </div>
                                      <label
                                        class="woof_checkbox_label "
                                        for="woof_633_5cc1431546b3f"
                                        >Gift Vouchers<span
                                          class="woof_checkbox_count"
                                          >(1)</span
                                        ></label
                                      >
                                      <input
                                        type="hidden"
                                        value="Foundation"
                                        data-anchor="woof_n_product_cat_foundation"
                                      />
                                    </li>
                                    <li class="woof_term_635 ">
                                      <div
                                        class="icheckbox_flat-aero"
                                        style="position: relative;"
                                      >
                                        <input
                                          type="checkbox"
                                          id="woof_635_5cc1431547484"
                                          class="woof_checkbox_term woof_checkbox_term_635"
                                          data-tax="product_cat"
                                          name="gift-vouchers"
                                          data-term-id="635"
                                          value="635"
                                          style="position: absolute; opacity: 0;"
                                        /><ins
                                          class="iCheck-helper"
                                          style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"
                                        ></ins>
                                      </div>
                                      <label
                                        class="woof_checkbox_label "
                                        for="woof_635_5cc1431547484"
                                        >Cream<span class="woof_checkbox_count"
                                          >(1)</span
                                        ></label
                                      >
                                      <input
                                        type="hidden"
                                        value="Gift Vouchers"
                                        data-anchor="woof_n_product_cat_gift-vouchers"
                                      />
                                    </li>
                                    <li class="woof_term_743 ">
                                      <div
                                        class="icheckbox_flat-aero"
                                        style="position: relative;"
                                      >
                                        <input
                                          type="checkbox"
                                          id="woof_743_5cc1431547874"
                                          class="woof_checkbox_term woof_checkbox_term_743"
                                          data-tax="product_cat"
                                          name="hair-care"
                                          data-term-id="743"
                                          value="743"
                                          style="position: absolute; opacity: 0;"
                                        /><ins
                                          class="iCheck-helper"
                                          style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"
                                        ></ins>
                                      </div>
                                      <label
                                        class="woof_checkbox_label "
                                        for="woof_743_5cc1431547874"
                                        >Oral Supplements<span
                                          class="woof_checkbox_count"
                                          >(2)</span
                                        ></label
                                      >
                                      <input
                                        type="hidden"
                                        value="Hair Care"
                                        data-anchor="woof_n_product_cat_hair-care"
                                      />
                                    </li>
                                  </ul>
                                </div>
                                <div
                                  id="mCSB_1_scrollbar_vertical"
                                  class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark mCSB_scrollTools_vertical"
                                  style="display: none;"
                                >
                                  <div class="mCSB_draggerContainer">
                                    <div
                                      id="mCSB_1_dragger_vertical"
                                      class="mCSB_dragger"
                                      style="position: absolute; min-height: 296px; top: 0px; display: block; height: 296px; max-height: 390px;"
                                    >
                                      <div
                                        class="mCSB_dragger_bar"
                                        style="line-height: 296px;"
                                      ></div>
                                    </div>
                                    <div class="mCSB_draggerRail"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mCSB_1_scrollbar_vertical"
                              class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark mCSB_scrollTools_vertical"
                            >
                              <div class="mCSB_draggerContainer">
                                <div
                                  id="mCSB_1_dragger_vertical"
                                  class="mCSB_dragger"
                                  style="position:absolute;"
                                >
                                  <div class="mCSB_dragger_bar"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input
                          type="hidden"
                          name="woof_t_product_cat"
                          value="Product Categories"
                        />
                      </div>
                    </div>
                    <div
                      data-css-class="woof_container_product-brands"
                      class="woof_container woof_container_checkbox woof_container_product-brands woof_container_1 woof_container_brand"
                    >
                      <div class="woof_container_overlay_item"></div>
                      <div
                        class="woof_container_inner woof_container_inner_brand"
                      >
                        <h4>Brand</h4>
                        <div
                          class="woof_block_html_items mCustomScrollbar _mCS_2 mCS_no_scrollbar"
                          style="">
                          <div
                            id="mCSB_2"
                            class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside"
                            tabindex="0"
                            style="max-height: 120px;"
                          >
                            <div
                              id="mCSB_2_container"
                              class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                              style="position:relative; top:0; left:0;"
                              dir="ltr"
                            >
                              <div
                                id="mCSB_2"
                                class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside"
                                tabindex="0"
                                style="max-height: 400px;"
                              >
                                <div
                                  id="mCSB_2_container"
                                  class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                                  style="position:relative; top:0; left:0;"
                                  dir="ltr"
                                >
                                  <ul class="woof_list woof_list_checkbox">
                                    <li class="woof_term_946 ">
                                      <div
                                        class="icheckbox_flat-aero"
                                        style="position: relative;"
                                      >
                                        <input
                                          type="checkbox"
                                          id="woof_946_5cc143154bd15"
                                          class="woof_checkbox_term woof_checkbox_term_946"
                                          data-tax="product-brands"
                                          name="health-renewal"
                                          data-term-id="946"
                                          value="946"
                                          style="position: absolute; opacity: 0;"
                                        /><ins
                                          class="iCheck-helper"
                                          style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"
                                        ></ins>
                                      </div>
                                      <label
                                        class="woof_checkbox_label "
                                        for="woof_946_5cc143154bd15"
                                        >Skin Renewal<span
                                          class="woof_checkbox_count"
                                          >(1)</span
                                        ></label
                                      >
                                      <input
                                        type="hidden"
                                        value="Health Renewal"
                                        data-anchor="woof_n_product-brands_health-renewal"
                                      />
                                    </li>
                                    <li class="woof_term_136 ">
                                      <div
                                        class="icheckbox_flat-aero"
                                        style="position: relative;"
                                      >
                                        <input
                                          type="checkbox"
                                          id="woof_136_5cc143154c211"
                                          class="woof_checkbox_term woof_checkbox_term_136"
                                          data-tax="product-brands"
                                          name="heliocare"
                                          data-term-id="136"
                                          value="136"
                                          style="position: absolute; opacity: 0;"
                                        /><ins
                                          class="iCheck-helper"
                                          style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"
                                        ></ins>
                                      </div>
                                      <label
                                        class="woof_checkbox_label "
                                        for="woof_136_5cc143154c211"
                                        >Lamelle<span
                                          class="woof_checkbox_count"
                                          >(1)</span
                                        ></label
                                      >
                                      <input
                                        type="hidden"
                                        value="Heliocare"
                                        data-anchor="woof_n_product-brands_heliocare"
                                      />
                                    </li>
                                    <li class="woof_term_794 ">
                                      <div
                                        class="icheckbox_flat-aero"
                                        style="position: relative;"
                                      >
                                        <input
                                          type="checkbox"
                                          id="woof_794_5cc143154c6d6"
                                          class="woof_checkbox_term woof_checkbox_term_794"
                                          data-tax="product-brands"
                                          name="iskin"
                                          data-term-id="794"
                                          value="794"
                                          style="position: absolute; opacity: 0;"
                                        /><ins
                                          class="iCheck-helper"
                                          style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"
                                        ></ins>
                                      </div>
                                      <label
                                        class="woof_checkbox_label "
                                        for="woof_794_5cc143154c6d6"
                                        >Aplha<span class="woof_checkbox_count"
                                          >(2)</span
                                        ></label
                                      >
                                      <input
                                        type="hidden"
                                        value="iSkin Collagen"
                                        data-anchor="woof_n_product-brands_iskin"
                                      />
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mCSB_2_scrollbar_vertical"
                              class="mCSB_scrollTools mCSB_2_scrollbar mCS-dark mCSB_scrollTools_vertical"
                              style="display: none;"
                            >
                              <div class="mCSB_draggerContainer">
                                <div
                                  id="mCSB_2_dragger_vertical"
                                  class="mCSB_dragger"
                                  style="position: absolute; min-height: 30px; top: 0px;"
                                >
                                  <div
                                    class="mCSB_dragger_bar"
                                    style="line-height: 30px;"
                                  ></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input
                          type="hidden"
                          name="woof_t_product-brands"
                          value="Brands"
                        />
                      </div>
                    </div>

                    <div
                      data-css-class="woof_container_product-brands"
                      class="woof_container woof_container_checkbox woof_container_product-brands woof_container_1 woof_container_brand"
                    >
                      <div class="woof_container_overlay_item"></div>
                      <div
                        class="woof_container_inner woof_container_inner_brand"
                      >
                        <h4>Price</h4>
                        <div
                          class="woof_block_html_items mCustomScrollbar _mCS_2 mCS_no_scrollbar _mCS_3"
                          style=""
                        >
                          <div
                            id="mCSB_3"
                            class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside"
                            tabindex="0"
                            style="max-height: 60px;"
                          >
                            <div
                              id="mCSB_3_container"
                              class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                              style="position:relative; top:0; left:0;"
                              dir="ltr"
                            >
                              <div
                                id="mCSB_2"
                                class="mCustomScrollBox mCS-dark mCSB_vertical mCSB_inside"
                                tabindex="0"
                                style="max-height: 400px;"
                              >
                                <div
                                  id="mCSB_2_container"
                                  class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                                  style="position:relative; top:0; left:0;"
                                  dir="ltr"
                                >
                                  <ul class="woof_list woof_list_checkbox">
                                    <li class="woof_term_946 ">
                                      <div
                                        class="icheckbox_flat-aero"
                                        style="position: relative;"
                                      >
                                        <input
                                          type="checkbox"
                                          id="woof_946_5cc143154bd15"
                                          class="woof_checkbox_term woof_checkbox_term_946"
                                          data-tax="product-brands"
                                          name="health-renewal"
                                          data-term-id="946"
                                          value="946"
                                          style="position: absolute; opacity: 0;"
                                        /><ins
                                          class="iCheck-helper"
                                          style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"
                                        ></ins>
                                      </div>
                                      <label
                                        class="woof_checkbox_label "
                                        for="woof_946_5cc143154bd15"
                                        >Price Slider<span
                                          class="woof_checkbox_count"
                                        ></span
                                      ></label>
                                      <input
                                        type="hidden"
                                        value="Health Renewal"
                                        data-anchor="woof_n_product-brands_health-renewal"
                                      />
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mCSB_3_scrollbar_vertical"
                              class="mCSB_scrollTools mCSB_3_scrollbar mCS-dark mCSB_scrollTools_vertical"
                              style="display: none;"
                            >
                              <div class="mCSB_draggerContainer">
                                <div
                                  id="mCSB_3_dragger_vertical"
                                  class="mCSB_dragger"
                                  style="position: absolute; min-height: 30px; top: 0px;"
                                >
                                  <div
                                    class="mCSB_dragger_bar"
                                    style="line-height: 30px;"
                                  ></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input
                          type="hidden"
                          name="woof_t_product-brands"
                          value="Brands"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <div class="woof_products_top_panel" style="display: none;"></div>
          </ul>
        </div>
        <div class="container">
          <div class="row product-grid">
            <div class="products">
              <div class="col-md-3 col-sm-6 product-single match-height" style="height: 424px;" *ngFor="let product of products">
                <article class="post-1436 product type-product status-publish has-post-thumbnail product_cat-gift-vouchers product-brands-skin-store  instock downloadable virtual shipping-taxable purchasable product-type-gift-card">
                  <link href=""/>
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                       {{ product.price }}
                      </span
                    >
                  </span>
                  <div class="entry-content" itemprop="articleBody">
                    <a rel="bookmark">
                      <img
                        width="300"
                        height="300"
                        src="assets/{{product.image}}.jpg"
                        class="attachment-shop_catalog size-shop_catalog wp-post-image"
                        alt="skin-renewal-gift-voucher"
                        title="skin-renewal-gift-voucher"
                    /></a>
                    <button type="button" class="ss product_list_item__add_to_cart">
                        Add
                      </button>
                    <span class="posted_in">Gift</span>
                    <h1 class="product_list_item__name" itemprop="name headline" >
                      <a href="" rel="bookmark" >{{ product.name }}</a>
                    </h1>
                    <div class="rate-this-wrapper"></div>
                    <div class="wishlist-add">
                      <div class="yith-wcwl-add-to-wishlist add-to-wishlist-1436" >
                        <div class="yith-wcwl-add-button show" style="display:block">
                          <a
                            href=""
                            rel="nofollow"
                            data-product-id="1436"
                            data-product-type="gift-card"
                            class="add_to_wishlist single_add_to_wishlist"
                          >
                            <i class="{{product.wishlistIcon}}"></i> {{product.btn}}</a
                          >
                          <img
                            src="./assets/wpspin_light.gif"
                            class="ajax-loading"
                            alt="loading"
                            width="16"
                            height="16"
                            style="visibility:hidden"
                            data-pagespeed-url-hash="2164582213"
                          />
                        </div>

                        <div
                          class="yith-wcwl-wishlistaddedbrowse hide"
                          style="display:none;"
                        >
                          <a
                            href="https://www.onlineskinshop.co.za/wishlist/view/"
                            rel="nofollow"
                            class="button--green single_add_to_wishlist button alt"
                          >
                            <i class="fa fa-heart"></i> Browse Wishlist
                          </a>
                        </div>
                        <div
                          class="yith-wcwl-wishlistexistsbrowse hide"
                          style="display:none"
                        >
                          <a
                            href="https://www.onlineskinshop.co.za/wishlist/view/"
                            rel="nofollow"
                            class="button--green single_add_to_wishlist button alt"
                          >
                            <i class="fa fa-heart"></i> Browse Wishlist
                          </a>
                        </div>
                        <div style="clear:both"></div>
                        <div class="yith-wcwl-wishlistaddresponse"></div>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </article>
              </div>      
            </div>
          </div>
        </div>
      </main>
    </section>
    <footer class="o-footer">
      <div class="o-footer__top container">
        <div class="o-footer-nav">
          <div class="o-footer-nav__outer-cols">
            <ul class="o-footer-menu js-accordion js-accordion--no-desktop">
              <li>
                <a
                  href="https://www.onlineskinshop.co.za/shop/#"
                  class="c-footer-menu-heading"
                  >Shop Top Brands</a
                >
                <div class="menu-shop-top-brands-container">
                  <ul id="menu-shop-top-brands" class="menu">
                    <li
                      id="menu-item-2157"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2157"
                    >
                      <a
                        href="https://onlineskinshop.co.za/product-brand/heliocare/"
                        >Skin Renewal</a
                      >
                    </li>
                    <li
                      id="menu-item-7019"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7019"
                    >
                      <a
                        href="https://onlineskinshop.co.za/product-brand/iskin/"
                        >Lamelle</a
                      >
                    </li>
                    <li
                      id="menu-item-2158"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2158"
                    >
                      <a
                        href="https://onlineskinshop.co.za/product-brand/lamelle/"
                        >Alpha</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="o-footer-nav__outer-cols">
            <ul class="o-footer-menu js-accordion js-accordion--no-desktop">
              <li>
                <a
                  href="https://www.onlineskinshop.co.za/shop/#"
                  class="c-footer-menu-heading"
                  >Skin Shop</a
                >
                <div class="menu-my-account-container">
                  <ul id="menu-my-account" class="menu">
                    <li
                      id="menu-item-2131"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"
                    >
                      <a href="https://www.onlineskinshop.co.za/my-account/"
                        >Gift Vouchers</a
                      >
                    </li>
                    <li
                      id="menu-item-2129"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2129"
                    >
                      <a href="https://www.onlineskinshop.co.za/order-history/"
                        >Cream</a
                      >
                    </li>
                    <li
                      id="menu-item-2133"
                      class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2133"
                    >
                      <a href="https://onlineskinshop.co.za/cart/"
                        >Oral Supplements</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>

          <div class="o-footer-nav__outer-cols o-footer-nav__outer-cols--last">
            <div class="o-social-links">
              <a
                href="https://www.facebook.com/SkinRenewalSA"
                class="c-social-link c-social-link--facebook-grey"
                target="_blank"
              >
                <img
                  src="./assets/social-facebook-grey.png"
                  alt="Facebook"
                  data-pagespeed-url-hash="3015679236"
                />
              </a>
              <a
                href="https://www.twitter.com/SkinBodyRenewal"
                class="c-social-link c-social-link--twitter-grey"
                target="_blank"
              >
                <img
                  src="./assets/social-twitter-grey.png"
                  alt="Twitter"
                  data-pagespeed-url-hash="4212882193"
                />
              </a>

              <a
                href="https://www.youtube.com/user/SkinRenewal/videos"
                class="c-social-link c-social-link--youtube-grey"
                target="_blank"
              >
                <img
                  src="./assets/social-youtube-grey.png"
                  alt="Youtube"
                  data-pagespeed-url-hash="3037473597"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="o-footer__bottom container">
        <div class="o-footer-panel">
          <div class="o-footer-panel__partners">
            <a href="https://www.onlineskinshop.co.za/shop/#" target="_blank">
              <img
                data-src="https://onlineskinshop-f38c.kxcdn.com/content/themes/base/resources/assets/build/images/footer-number.png"
                alt="Contact Number"
                src="./assets/footer-number.png"
              />
            </a>
            <div>
              <img
                data-src="https://onlineskinshop-f38c.kxcdn.com/content/themes/base/resources/assets/build/images/footer-visa.png"
                alt="Visa"
                src="./assets/footer-visa.png"
              />
            </div>

            <div>
              <img
                data-src="https://onlineskinshop-f38c.kxcdn.com/content/themes/base/resources/assets/build/images/footer-genop.png"
                alt="Genop"
                src="./assets/footer-genop.png"
              />
            </div>

            <div>
              <img
                data-src="https://onlineskinshop-f38c.kxcdn.com/content/themes/base/resources/assets/build/images/footer-lamelle.png"
                alt="Lamelle"
                src="./assets/footer-lamelle.png"
              />
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="./assets/53d5c.js"></script>

  <script src="./assets/dfcf8.js"></script>

  <script src="./assets/bd44d.js"></script>

  <div
    id="woof_html_buffer"
    class="woof_info_popup"
    style="display: none;"
  ></div>
  <div
    id="blinkextension_snap_links_box_mg_mouse_gestures"
    style="background-color: rgba(250, 128, 0, 0.07); border: 3px dashed blue; box-sizing: border-box; position: absolute; z-index: 2147483647; display: none; left: 477px; top: 699px;"
  ></div>
  <div
    id="hit_a_link_blinkextension_container_mg_mouse_gestures"
    style="display: none; position: absolute; left: 0px; top: 0px; width: 0px; height: 0px; z-index: 2147483647; background: rgba(0, 0, 0, 0);"
  ></div>

  <div
    id="woof_html_buffer"
    class="woof_info_popup"
    style="display: none;"
  ></div>
</body>
